#intro-bold{
    text-align: center;
    font-size: xx-large;
}
#intro-desc{
    text-align: center;
    font-size: medium;
    color: brown;
}
p{
    ext-align: center;
    font-size: medium;
    color: brown;
}